<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="endereco">
            <h2><span jhiTranslate="freejobApp.endereco.detail.title">Endereco</span> {{endereco.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="freejobApp.endereco.rua">Rua</span></dt>
                <dd>
                    <span>{{endereco.rua}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.numero">Numero</span></dt>
                <dd>
                    <span>{{endereco.numero}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.complemento">Complemento</span></dt>
                <dd>
                    <span>{{endereco.complemento}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.bairro">Bairro</span></dt>
                <dd>
                    <span>{{endereco.bairro}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.cep">Cep</span></dt>
                <dd>
                    <span>{{endereco.cep}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.cidade">Cidade</span></dt>
                <dd>
                    <span>{{endereco.cidade}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.estado">Estado</span></dt>
                <dd>
                    <span>{{endereco.estado}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.endereco.local">Local</span></dt>
                <dd>
                    <div *ngIf="endereco.local">
                        <a [routerLink]="['/local', endereco.local?.id, 'view']">{{endereco.local?.nomeLocal}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/endereco', endereco.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
