<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="evento">
            <h2><span jhiTranslate="freejobApp.evento.detail.title">Evento</span> {{evento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="freejobApp.evento.nomeEvento">Nome Evento</span></dt>
                <dd>
                    <span>{{evento.nomeEvento}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.evento.descricaEvento">Descrica Evento</span></dt>
                <dd>
                    <span>{{evento.descricaEvento}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.evento.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{evento.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.evento.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{evento.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.evento.statusJob">Status Job</span></dt>
                <dd>
                    <span>{{evento.statusJob}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.evento.tipoEvento">Tipo Evento</span></dt>
                <dd>
                    <span jhiTranslate="{{'freejobApp.TipoEvento.' + evento.tipoEvento}}">{{evento.tipoEvento}}</span>
                </dd>
                <dt><span jhiTranslate="freejobApp.evento.job">Job</span></dt>
                <dd>
                    <div *ngIf="evento.job">
                        <a [routerLink]="['/job', evento.job?.id, 'view']">{{evento.job?.nomeJob}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evento', evento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
